/* Write the CSS in the media query below */

@media (min-width: 607px) {
  img{
    float:left;
  }
  img:nth-child(3n+4){
    clear: left;
  }
	
	img:nth-of-type(3n+4) {
   clear: left;
  }
  
  img{
    border-color:blue;
  }
}